<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myLibrary</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/signin.css">
</head>
<body>
<header>
<!-- nav-->
<nav class="navbar navbar-expand-lg  navbar-dark">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <% for(let i=0;i<nav.length;i++){%>
          <a class="nav-item nav-link <%if(nav[i].name=='addbook'||nav[i].name=='addauthor') {%>hide<%}%> <%if(nav[i].name==active) {%>active<%}%>" href=<%=nav[i].link%>><%=nav[i].name%></a>
          <% } %>
      </div>
    </div>
    <span id="username" class="hide nav-bar nav-right pull-right"><img src="images/usericon.png" style="width:35px;height:35px">&nbsp;&nbsp;</span>
    <button id="logout" style="color:red" class="nav navbar btn-primary hide">logout</button>
  </nav>
  <h1><%=title%></h1>
  <div class="panel panel-default">
    <input class="panel-body" id="keywords" placeholder="search"></input>
  </div>
</header>
<!-- /nav-->
<main>
  <div class="container">
        <div class="card card-container">
        <h2 class='login_title text-center'>Login</h2>
        <hr>

            <form id="form" class="form-signin"  >
                <span id="reauth-email" class="reauth-email"></span>
                <p class="input_title">Email</p>
                <div class="email">
                <input type="text" id="inputEmail" name="email" class="login_box form-control " placeholder="email" autofocus>
                <div class="valid-feedback">
                 ok!
                </div>
                <div class="invalid-feedback">
                  please enter valid email
                </div>
                </div>
                <p class="input_title">Password</p>
                <input type="password" id="inputPassword" name="password" class="login_box form-control" placeholder="password" >
                <div class="valid-feedback">
                  ok!
                 </div>
                 <div class="invalid-feedback">
                   please enter valid email
                 </div>
                <div id="remember" class="checkbox">
                    <label>
                        
                    </label>
                </div>
                <button class="submit-btn btn-lg btn-primary" type="submit">Login</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->
</main>
<!--/main-->
<footer id="highlight">
    <!--- social media ------->
    <h4>Follow Us</h4>
    <!--Twitter-->
    <div class="social-btns">
      <button type="button" class="social-btn btn-tw"> Twitter</button>
      <!--Facebook-->
      <button type="button" class="social-btn btn-fb">Facebook</button>
      <!--Google +-->
      <button type="button" class="social-btn btn-gplus"> Google +</button>
    </div>
    <p >&copy;VIVEK T V, 2020</p>
  </footer>
  <!--/footer-->

  <!--validation js-->

 
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="./js/highlighter.js"></script>
  <script src="./js/script.js"></script>
  <script src="./js/signin.js"></script>
  <script src="./js/jwt-decode.min.js"></script>
<script src="./js/session.js"></script>
  </body>
  </html>